@media screen and (max-width: 1200px) {
    .container {
        margin: 0 12px;
    }
    .header {
        padding: 20px 0x;
    }
    .cube {
        margin: 50px 12px;
    }
    .about-us {
        width: 100%;
        margin: 0 auto;
        width: available;
        padding: 102px 12px;
        text-align: left;
    }
}

 @media screen and (max-width: 992px) {
    .header__button {
            padding: 13px 34px;
        }
    .cube__title {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (992 -320)));
        line-height: calc(50px + (60 - 50) * ((100vw - 320px) / (992 -320)));
    }
    .consultation {
        padding: 38px 50px;
        flex-direction: column;
    }
    .consultation p {
        margin-bottom: 10px;
        text-align: center;
    }
    .about-us {
        width: 90%;
        margin: 0 auto;
        width: available;
        padding: 102px 12px;
        text-align: left;
    }
    .about-us__p_background {
        /* display: block; 
        background-color: var(--bg-color); */
        background-size: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
        width: 100%;
        margin: 0px auto;
        padding: 30px;
    }
    
 }
@media screen and (max-width: 790px) {
    .header__li {
        display: none;
    }
    .header__button {
        display: inline-block;
        padding: 6px 34px;
        justify-self: center;
    }
    .burger {
        display: block;
    }
    .nav-menu {
        display: none;
    }
}
@media screen and (max-width: 571px) {
    .header__menu {
        display: none;
    }
    .burger {
        justify-self: flex-start;
    }
    .header__button {
        display: none;
    }
    .cube {
        display: flex;
        margin: 50px auto;
        flex-direction: column;
    }
    .br-cube {
        display: none;
    }
    .cube__title {
        width: 100%;
    }
    .cube__img {
        width: 70%;
        height: 70%;
        margin: auto;
    }
    .cube__info {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .consultation {
        width: 90%;
        padding: 20px 10px;
    }
    .consultation p {
        text-align: left;
    }
    .consultation__form {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }
    .consultation__phone {
        margin: 0 0 10px;
        width: 100%;
    }
    .consultation__submit {
        align-self: flex-start;
    }
    .team__cards {
        overflow: hidden;
    }
    .team__card {
        width: 90%;
    }
    .arrow-block {
        display: none;
    }
}
/* @media screen and (max-width: 320px) {
    .page {
        width: 100%;
    }
} */